*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    position:relative;
}
h1{
    color: aqua;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}    
.text1 {
    color: aqua;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}    
.text2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: larger;
}   
button{
    background-color: aqua;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: x-large;
    padding: 10px 20px;
} 
.main1{
    height: 30vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(5, 97, 116);
}
.link1{
    color: aqua;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
}    
.link2{
    color: aqua;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}    
.link3{
    color: aqua;
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
}    
.text2022{
    color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    






